@font-face {
    font-family: "PF Din Text Comp Pro";
    src: url("../fonts/PFDinTextCompPro-BoldItalic/PFDinTextCompPro-BoldItalic.woff") format("woff"),
    url("../fonts/PFDinTextCompPro-BoldItalic/PFDinTextCompPro-BoldItalic.woff2") format("woff2");
}

body {
    background-color: #000;
    font-family: "PF Din Text Comp Pro", "Montserrat";
    margin: 0;
}

.page {
    max-width: 1230px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

li {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1;
    font-family: "PF Din Text Comp Pro";
    padding-top: 5px;

}


/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* nav */

.nav {
    font-size: 24px;
    transition: color, 0.2s linear;
    display: flex;
    justify-content: space-between;
}


.nav__link {
    color: #000;
    font-size: 24px;
    font-family: "PF Din Text Comp Pro";
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #000;
    color: #ccc;
    opacity: 0;

    position: absolute;

}

.nav__link:hover {
    color: #ccc;
    transition: color, 0.2s linear;
}
.nav__link.active::after,
.nav__link:hover::after {
    display: block;
    color: #ccc;
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


/* Button */
.btn__intro {
    background-color: #f00;
    width: 255px;
    height: 55px;

    text-transform: uppercase;
    font-family: "PF Din Text Comp Pro";
    font-size: 24px;
    line-height: 28,8px;
    color: #fff;
    font-weight: 700;

    border-top-left-radius: 50%;

}

.button__cloudy {
    background-color: #f00;
    width: 344px;
    height: 101px;

    text-transform: uppercase;
    font-family: "PF Din Text Comp Pro";
    font-size: 28px;
    color: #fff;
    font-weight: 700;

    border-radius: 10px;

    margin-top: 140px;

    z-index: 2;
    position: absolute;


}




/* Intro */


.intro__inner {
    display: flex;

}
.intro__title {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 64px;
    width: 538px;
}

.intro__subtitle {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 15px;

}

.intro__content {
    position: relative;

}



.intro__images--one {
    position: absolute;
    left: 1510px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;

}

.image__cloudy {
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;

}




/* about */



.about__content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.about__item {
    width: 33.33333%;
    margin-top: 150px;
}

.about__title {
    font-size: 96px;
    color: #FFFFFF;
    font-family: "PF Din Text Comp Pro";
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}

.about__subtitle {
    font-size: 24px;
    color: #FFFFFF;
    line-height: 1;
    font-weight: 500;
}



/* section */


.section__inner {
    position: relative;
}
.section__group {
    display: flex;
}

.section__title {
    font-size: 69px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;

    margin-top: 90px;
}

.group__title {
    font-size: 48px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1;
}

.section__text {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    font-style: regular;

}

.section__item {
    width: 45%;
    margin-top: 60px;
    padding-right: 40px;


}

.section__images {
    max-width: 210px;
    max-height: 210px;

}



/* works */

.works__inner {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}


.works__title {
    font-size: 64px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Montserrat";
    text-align: center;
    padding: 60px;
    margin: 0  auto;

}

.works__item {
    width: 45%;
    max-width: 560px;
    padding: 60px 30px;

}

.works__decoration {
    position: absolute;
    z-index: 0;
    top: 1869px;
    left: 950px;
    right: 0;
    bottom: 0;

}

.works__decoration--two {
    position: absolute;
    top: -340px;
    left: -190px;
    right: 0;
    bottom: 0;
    z-index: -1;

}


.list__title {
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "PF Din Text Comp Pro";
    line-height: 1;
    padding-top: 5px;

}



/* cards*/

.cards__title--main {
    font-weight: 900;
    font-size: 64px;
    font-family: "Montserrat";
    color: #FFFFFF;
    text-align: center;
    max-width: 838px;
    margin-left: 150px;
    margin-bottom: 20px;

}

.decoration__cards {
    position: absolute;
    top: 4220px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;

}

.cards__section {
    background-color: #121E3A;

    width: 1170px;
    height: 550px;
    width: 100%;

    border: 1px solid #121E3A;
    border-radius: 10px;
    position: relative;
    margin-bottom: 25px;


}

.cards__content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 20px;
}

.cards__title {
    font-family: "Montserrat";
    font-size: 72px;
    line-height: 1.1;
    color: #FFFFFF;
    width: 799px;

    padding-bottom: 15px;



}

.cards__subtitle {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 1;
    font-family: "PF Din Text Comp Pro";
    width: 505px;

    padding-bottom: 15px;
}

.card__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    color: #FFFFFF;
    width: 591px;
    font-family: "PF Din Text Comp Pro";
    max-width: 603px;
    max-height: 203px;

    margin-bottom: 30px;
}


.cards__icons {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 30px;
}

.cards__button {
    background-color: #f00;
    Width: 250px;
    Height: 100px;
    border-radius: 30px;

    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    font-family: "PF Din Text Comp Pro";

}


.cards__icons--one {
    margin-left: 15px;
}

.cards__icons--two {
    margin-left: 15px;
}


.cards__devices {
    position: absolute;
    top: -20px;
    left: 480px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.cards__footer--title {
    text-align: center;
    font-weight: 900;
    color: #FFFFFF;
    max-width: 1222px;
    font-size: 44px;
    text-transform: uppercase;
    margin-top: 90px;


}

.cards__footer--subtitle {
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    max-width: 939px;
    text-align: center;
    margin-left: 80px;
    margin-top: 110px;
    text-transform: uppercase;
}

.cards__footer--btn {
    background-color: #f00;
    Width: 250px;
    Height: 100px;
    border-radius: 30px;

    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    font-family: "PF Din Text Comp Pro";
    text-transform: uppercase;
    text-align: center;
    margin-left: 410px;
    margin-top: 60px;
}




/* promo*/

.promo__section {

    background-image: linear-gradient(to right bottom, #E731FC 0%,
    #652DAC 55.34%,
    #FFA279 95.53%);
    border-radius: 15px;

    max-width: 1170px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 70px;


}


.promo__content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;



}

.promo__inner {
    position: relative;
}

.promo__title {
    font-weight: 900;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 72px;
    text-transform: uppercase;
    max-width: 880px;
    text-align: left;



}

.promo__text {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 722px;

}


.promo__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;

}


.promo__button {
    background-color: #f00;
    Width: 250px;
    Height: 100px;
    border-radius: 30px;

    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    font-family: "PF Din Text Comp Pro";
    text-transform: uppercase;
    text-align: center;
    margin-right: 20px;
    margin-top: 20px;
}


.promo__link {
    color: #FFFFFF;

}

.promo__devices {
    position: absolute;
    z-index: 1;
    top: -70px;
    left: 876px;
    right: 0;
    bottom: 0;

}


.promo__icons {
    position: absolute;
    top: 210px;
    left: 580px;
    right: 0;
    bottom: 0;
    z-index: 1;

}

.promo__section--two {
    background-image: linear-gradient(to right bottom, #00FF79 0%,
    #00CF62 55.34%,
    #00FF79 95.53%);
    border-radius: 15px;

    max-width: 1170px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 70px;


}

.promo__devices--two {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 816px;
    right: 0;
    bottom: 0;

}

.promo__section--three {
    background-image: linear-gradient(to right bottom, #FF00E5 0%,
    #FF00E5 55.34%,
    #FFC3F9 95.53%);
    border-radius: 15px;

    max-width: 1170px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 70px;


}


.promo__devices--three {
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 656px;
    right: 0;
    bottom: 0;

}

.promo__icons--three {
    position: absolute;
    z-index: 1;
    top: 170px;
    left: 886px;
    right: 0;
    bottom: 0;

}



/*Footer*/


.footer {
    width: 100%;

}

.footer__title {
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    width: 1087px;
    margin-top: 60px;

}


.footer__form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;


}

.footer__input {
    max-width: 500px;
    max-height: 90px;
    margin-top: 40px;
    margin: 20px auto;
    display: block;
    padding: 8px 10px;
    font-family: inherit;


}

.footer__btn {
    background-color: #f00;
    Width: 250px;
    Height: 100px;
    border-radius: 30px;

    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    font-family: "PF Din Text Comp Pro";
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
}

.footer__decoration {
    display: flex;
    justify-content: space-around;

}

.footer__text {
    color: #000;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
    max-width: 386px;

    display: flex;

}



.footer__image {
    display: block;
    margin-bottom: 20px;
    margin-left: 50px;
}
.footer__link {
    font-size: 24px;
    color: #000;
    font-weight: 500;
    margin-left: 20px;
}


.footer__section {
    background-color: #FFFFFF;

}

.footer__inner {
    display: flex;

    justify-content: space-between;
}

.footer__nav {
    display: flex;
    flex-direction: row;
}

.footer__icon {
    display: block;
}
